%div
  %h1.text-3xl.font-bold Innsbruck Dashboard

  %p
    Zuletzt aktualisiert:
    %span.font-bold= @refetch_event.created_at.strftime("%d.%m.%Y %H:%M:%S")

  %p.mt-4 Ich mag kein Instagram aber will trotzdem wissen was in Innsbuck so abgeht. Also hab ich die Website gebastelt.
  %p Aktuell bekommen wir Events von: Treibhaus, Theater Praesent, Die B채ckerei und Leokino. Ich freu mich 체ber Vorschl채ge, kann aber nur neue Organisationen hinzuf체gen wenn die Veranstaltungen auf einer Website gelistet werden und nicht nur Auf Insta. Montagu geht z.B. leider nicht.

  .m-2.border.border-gray-300.p-2
    = Redcarpet::Markdown.new(Redcarpet::Render::HTML.new).render(File.read('todo.md')).html_safe

  %p
    Code ist auf
    = link_to('Github', 'https://github.com/bonflintstone/ibk-dashboard', target: '_blank', class: 'underline')
    Feedback und Anregungen gerne per
    = link_to("Mail", "mailto:waxen_junkier.0v@icloud.com", class: 'underline')

  %h2.text-2xl.mt-4 Events

  - @events.group_by(&:date).each do |date, events|
    %h3.text-xl.font-bold= date.strftime("%d.%m.%Y")

    - events.each do |event|
      = link_to event.link, target: '_blank' do
        %div.my-2.p-2{ class: event_color(event)}
          %p= event.datetime.strftime("%H:%M")
          %p.font-bold= event.name
          %p=event.description
          %p.font-bold= event.location
