%div
  %h1.text-3xl.font-bold IBK Dashboard

  %p.mb-3
    Code ist auf
    = link_to('Github', 'https://github.com/bonflintstone/ibk-dashboard', target: '_blank', class: 'underline')
    <br />
    Feedback und Anregungen gerne per
    = link_to("Mail", "mailto:waxen_junkier.0v@icloud.com", class: 'underline')

  %p
    Zuletzt aktualisiert:
    %span.font-bold= @refetch_event.created_at.strftime("%d.%m.%Y %H:%M:%S")

  %div{ 'data-controller': 'events' }
    - Event::ORGANIZATIONS.each do |organization|
      :css
        .hidable[data-hidden = 'true'] {
          color: grey;
        }

        .hidden {
          display: none;
        }
      %button.hidable.rounded.px-1.m-1{ 'data-action': "events#toggleOrganization", 'data-organization': organization, class: organization_color(organization) }= organization

    - @events.group_by(&:date).each do |date, events|
      %h3.text-xl.font-bold= l(date, format: "%A %d.%m.%Y")

      - events.each do |event|
        = link_to event.link, target: '_blank' do
          .my-2.py-2{ 'data-events-target': 'event', 'data-organization': event.organization }
            %p.pl-2.py-1{ class: organization_color(event.organization)}
              = event.datetime.strftime("%H:%M")
              %span.font-bold= event.location != event.organization ? "#{event.organization}," : ''
              %span.font-bold= event.location
            %p.pl-1.mt-1.font-bold= event.name
            %p.pl-1.mt-1=event.description.truncate_words(20, omission: '...')
