%div
  %h1.text-3xl.font-bold IBK Dashboard

  %p.mb-3
    Code ist auf
    = link_to('Github', 'https://github.com/bonflintstone/ibk-dashboard', target: '_blank', class: 'underline')
    <br />
    Feedback und Anregungen gerne per
    = link_to("Mail", "mailto:waxen_junkier.0v@icloud.com", class: 'underline')

  %p
    Zuletzt aktualisiert:
    %span.font-bold= @refetch_event.created_at.strftime("%d.%m.%Y %H:%M:%S")

  - @events.group_by(&:date).each do |date, events|
    %h3.text-xl.font-bold= date.strftime("%d.%m.%Y")

    - events.each do |event|
      = link_to event.link, target: '_blank' do
        .my-2.py-2
          %p.pl-2.py-1{ class: event_color(event)}
            = event.datetime.strftime("%H:%M")
            %span.font-bold= event.location != event.organization ? "#{event.organization}," : ''
            %span.font-bold= event.location
          %p.pl-1.mt-1.font-bold= event.name
          %p.pl-1.mt-1=event.description.truncate_words(20, omission: '...')
